/* Root Colors */
:root {
    --dark-blue-color: #172339;
    --grey-color: #49566D;
    --cream-color: #F3EDE7;
    --cream-white-color: #FAF8F6;
    --purple-color: #A060FF;
    --violet-color: #CB30E3;
    --orange-color: #FFA84E;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: "Epilogue", sans-serif;
    background-color: var(--cream-white-color);
}

/* Buttons */
.btn {
    border-radius: 6px;
    text-decoration: none;
}

.btn.btn-primary {
    padding: 15px 32px;
    background: var(--dark-blue-color);
    color: var(--cream-white-color);
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    display: block;
    width: 256px;
}

.btn.btn-primary:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

.btn.btn-secondary {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.16px;
    color: var(--dark-blue-color);
    padding: 12px 24px;
    border: 1px solid;
}
.btn.btn-secondary:hover {
    background-color: var(--dark-blue-color);
    color: var(--cream-white-color);
}
/* End of Buttons */
